.experience_current {
  margin-left: 1em;
  margin-right: 1em;
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  display: flex;
  background-color: #5a2c40;
  border: 2px solid #2a2f4c;
}

.experience {
  margin-left: 1em;
  margin-right: 1em;
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  display: flex;
  border: 2px solid #2a2f4c;
}

.logo_alstom {
  width: 250px;
  height: 90px;
  margin-top: 3.8em;
  margin-left: 0.7em;
}

.alstom {
  width: 300px;
  height: 200px;
}

.logo_siemens {
  width: 250px;
  height: 90px;
  margin-top: 4.6em;
  margin-left: 0.7em;
}

.siemens {
  width: 300px;
  height: 205px;
}

.logo_fenrir {
  width: 270px;
  height: 200px;
}

.fenrir {
  width: 300px;
  height: 205px;
}

.icon {
  margin-top: auto;
  margin-bottom: auto;
}

.experience:hover {
  transform: translateY(-7px);
}

.experience_current:hover {
  transform: translateY(-7px);
}

.description_experiences {
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  word-break: normal;
  align-items: center;
  vertical-align: middle;
  text-align: justify;
}

p {
  padding: 0.2em;
}

.molla {
  width: 300px;
  height: 200px;
}

.logo_molla {
  width: 250px;
  height: 200px;
  margin-left: 0.7em;
}

@media (max-width: 990px) {
  .experience_current {
    flex-direction: column;
  }
  .experience {
    flex-direction: column;
  }
  .alstom {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
  }
  .logo_alstom {
    margin-top: 0px;
  }
  .siemens{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
  }
  .logo_siemens {
    margin-top: 0px;
  }
  .fenrir {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  .icon {
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
  }
  .description_experiences {
    width: 95%;
  }
  .molla {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
  }
  .logo_molla {
    margin-top: 0px;
  }
}