.contact {
  flex-direction: column;
}

.links {
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.icons_contact {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.icon_contact {
  margin-left: 5%;
  margin-right: 5%;
}

.forms {
  justify-content: center;
  width: 70%;
  height: 380px;
  margin-bottom: 1em;
}

h3 {
  margin-top: 5%;
  text-align: center;
}


.text_name {
  width: 60%;
  max-width: 500px;
  min-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  height: 30px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 6px;
  background-color: #cdcdff;
  color: #c20020;
  font-size: 1.2rem;
}

.text_email {
  width: 60%;
  max-width: 500px;
  min-width: 300px;
  margin-left: 20%;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  height: 30px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 6px;
  background-color: #cdcdff;
  color: #c20020;
  font-size: 1.2rem;
}

.text_message {
  width: 60%;
  max-width: 500px;
  min-width: 300px;
  margin-left: 20%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  margin-top: 15px;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 6px;
  background-color: #cdcdff;
  color: #c20020;
  font-size: 1.2rem;
  outline: none;
}

.email {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 30px;
  margin-top: 4%;
  border-radius: 6px;
  background-color: #cdcdff;
  color: #c20020;
  font-size: 1.2rem;
}

textarea {
  margin-left: 20%;
  padding-left: 10px;
  resize: vertical;
  height: 200px;
  max-height: 240px;
  min-height: 150px;
}

.send {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8em;
}